
.custom-file-upload {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 12px;
}

.current-filename {
    color:var(--lilac);
    font-size: 0.9rem;
    font-style: italic;
}

/* Estilo para el botón secundario si no lo tienes */
.pill-btn.secondary {
    background-color: var(--lilac);
    color: #000000;
    padding: 8px 16px;
    border: none;
    border-radius: 4px; /* <--- Esto lo hace rectángulo */
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}