/*Common to all html pages*/
:root {
    /*FIXED COLORS*/
    --purple-1: #5A189A;
    --purple-2: #7B2CBF;
    --purple-3: #9D4EDD;
    --purple-4: #C77DFF;
    --purple-5: #E0AAFF;
    --grey: #888;
    --text-light: #f4f4f4;
    --text-dark: #141414;
    --star: #FFBE55;

    /*VARIABLE COLORS*/
    --bg: #1f1f1f;
    --panel: #252525;
    --text-var:#f4f4f4;
    --button-bg:#9D4EDD;
    --button-border:#1f1f1f;
    --button-hover:#C77DFF;
    --topbar-bg:#5A189A;
    --popup-bg:#5A189A;
}

[data-bs-theme="light"] {
    /*FIXED COLORS*/
    --purple-1: #5A189A;
    --purple-2: #7B2CBF;
    --purple-3: #9D4EDD;
    --purple-4: #C77DFF;
    --purple-5: #E0AAFF;
    --grey: #888;
    --text-light: #f4f4f4;
    --text-dark: #141414;

    /*VARIABLE COLORS*/
    --bg: #E0AAFF;
    --panel: #C77DFF;
    --text-var:#141414;
    --button-bg:#C77DFF;
    --button-border:#E0AAFF;
    --button-hover:#E0AAFF;
    --topbar-bg:#9D4EDD;
    --popup-bg:#9D4EDD;
}

html,
body {
    font-family: Roboto, "Segoe UI", Arial, sans-serif;
    background: var(--bg);
    color: var(--text-var);
}

main {
    flex: 1;
}

/*HEADER*/

/*TOPBAR*/
/*forms, home and product_page*/
.topbar {
    background: var(--topbar-bg);
    padding: 0 20px;
}

/*BRAND-ICON*/
/*Home, product page and forms*/
.brand-icon {
    height: 60px;
    cursor: pointer;
}

.brand-icon svg {
    height: 100%;
    width: auto;
}

/*SEARCH*/
/*home*/
.search {
    background: var(--button-bg);
    border-radius: 25px;
    border: 3px solid var(--button-border);
    padding: 0 15px;
    width: 100%;
}

.search input {
    flex: 1;
    background: transparent;
    border: 0;
    color: var(--text-var);
    outline: none;
    padding: 6px;
    width: 100%;
}

/*USER IMAGE*/
/*home, forms, admin_panel, product_page, user_profile*/
.rounded-circle {
    width: 35px;
    height: 35px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.rounded-circle:hover {
    background-color: var(--purple-4);
}

.user-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../images/user.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/*PAGE CONTENT*/

/*forms, home, admin_panel, product_page, user_profile*/
.container {
    max-width: 1200px;
    margin: 18px auto;
    padding: 28px 36px;
    background: var(--panel);
    border-radius: 6px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 95%;
}

/*FORM CONTROL*/
/*forms, user_profile*/
.form-control {
    background-color: var(--purple-5);
    border: none;
    border-radius: 0;
    color: var(--text-dark);
}

.form-control:focus{
    background-color: var(--purple-3);
    box-shadow: none;
}

.form-control::placeholder{
    color: var(--text-dark);
}

/*user_profile*/
.form-control:disabled {
    background-color: var(--purple-5);
    border: none;
    border-radius: 0;
}

/*EXCLUSIVE TO CONTENT OF SPECIFIC PAGES*/
/*user_profile*/
.profile-card {
    background: var(--panel);
    border-radius: 15px;
    padding: 40px;
    max-width: auto;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../images/user.png);
    background-size: cover;
    background-position: center;
}

.profile-image.editing:hover {
    opacity: 70%;
}

/*forms*/
/*NOTE THAT EDIT_PRODUCT HTML USES FORMS CSS AS WELL*/
.field {
    margin-bottom: 10px;
    overflow: hidden;
}

.field input::-webkit-file-upload-button{
    color: var(--grey);
}

/*NOTE this section is specific of form_review html*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
}

.rating input {
    display: none;
}

.rating label {
    display: inline-block;
    cursor: pointer;
    color: var(--text-var);
    transition: color 0.5s;
}

.rating label:hover,
.rating label:hover~label,
.rating input:checked~label {
    color: var(--star);
}

/*admin_panel*/
.user-card {
    background: var(--panel);
    border-radius: 15px;
    padding: 40px;
    max-width: auto;
}

.user-group {
    background: linear-gradient(to top, var(--purple-2), var(--purple-1));
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-item {
    margin-bottom: 3px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url(../images/user.png);
    background-size: cover;
    background-position: center;
}

.username {
    color: var(--text-var);
    font-weight: 500;
}

/*home*/
/*Pop-up*/
.popup-container {
    height: 100%;
    width: 100%;
}

.popup {
    background: var(--popup-bg);
    padding: 24px 32px;
    border-radius: 8px;
    gap: 10px;
    max-width: 100%;
}

/*Histogram*/
.ranking {
    height: 250px;
}

.bar {
    width: 50px;
    background: linear-gradient(to top, var(--purple-1), var(--purple-3));
    border-radius: 5px 5px 0 0;
}

/*Products*/
.products {
    background: var(--panel);
    border-radius: 15px;
    max-width: auto;
}

h2 {
    /*USED IN HOME*/
    color: var(--text-var);
    font-weight: 600;
}

h6 {
    color:var(--text-var);
}

.product-img {
    height: 250px;
    width: 100%;
    object-fit: contain;
    margin-top: 15px;
}

/*product_page*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 26px;
    flex: 1;
}
.image {
  width: 100%;
  max-width: 300px;
  position: relative;
  
}
.image::before, .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0;
  pointer-events: none;
  z-index: 2;
}
.image img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section {
    gap: 30px;
}

.info {
    max-width: 600px;
}
dt { 
    color: var(--grey);
    font-weight: bold;
     margin-top: 10px; 
}
dd {
    margin-bottom: 15px;
    line-height: 1.6;
    word-break: break-word; 
    overflow-wrap: break-word;
    
}

.title {
    
    padding: 0 7px;
}

.title p {
    margin: 0;
    color: var(--grey);
    font-size: 1.2rem;
}

.product {
    padding: 0 10px;
}
.wrapped {
  margin: 40px 0 20px 0;
}

.reviews {
  gap: 26px;
}

.card {
  background: var(--purple-3);
  height: auto;
  width: 100%;
  min-height: 120px;
  border-radius: 18px;
  box-shadow: 0 6px 0 rgba(0,0,0,.35);
  padding: 20px;
  color: var(--bg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.review_top {
  
  margin-bottom: 12px;
}

.review_top h4:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  transition: all 0.3s ease;
}

.review_top h4:first-child:hover {
  white-space: normal;
  overflow: visible;
}

.review_top h4:last-child {
  background: rgba(0, 0, 0, 0.2);
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
}

.review_struct p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  margin: 10px 0 0 0;
  color:var(--bg);
}

.card:hover .review_struct p {
  -webkit-line-clamp: unset;
  display: block;
}


.custom-file-upload {
    gap: 15px;
    border-radius: 12px;
}

.current-filename {
    color: var(--purple-5);
    font-size: 0.9rem;
    font-style: italic;
}

/*BUTTONS*/
/*BTN*/
/*home, forms, product_page, admin_panel, user_profile*/
.btn {
    background-color: var(--button-bg);
    color: var(--text-var);
    font-weight: 600;
    border: 2px solid var(--button-border);
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--button-hover);
}

/*FOOTER*/
/*forms, admin_panel, home, produt_page, user_profile*/
footer {
    padding: 20px;
    background: var(--panel);
    color: var(--text-var);
}